body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
#taskll:hover{
    background-color: #3498db;
    cursor: cell;
}
#taskll
{
    width:200px;
    
}
.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 20px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    /* Adjusted container width */
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}

input[type="text"] {
    width: calc(100% - 20px);
    padding: 15px;
    margin-bottom: 10px;
    border: 2px solid #3498db;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    width: calc(100% - 20px);
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    border: none;
}

button.delete-button {
    background-color: #fc2020;
    /* Red color */
    color: white;
}

button.delete-button:hover {
    background-color: #580f0f;
    /* Darker red on hover */
}

button.toggle-button {
    background-color: #17b33b;
    /* Green color */
    color: white;
}

button.toggle-button:hover {
    background-color: #056d1c;
    /* Darker green on hover */
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

li.done {
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    color: #155724;
}

li .icons {
    display: flex;
    align-items: center;
}

li .icons button {
    margin-left: 10px;
}